<!-- PRODUCTS PAGE -->

<!--
|||||||||||||||||||||||||||||||||||||||||
HEADER
|||||||||||||||||||||||||||||||||||||||||
-->
<header>
	<$ include ../views/partials/nav.ejs $>
</header>

<!--
|||||||||||||||||||||||||||||||||||||||||
DROP DOWN MENU
|||||||||||||||||||||||||||||||||||||||||
-->

<div id ="searchbar">
	<div class="box">
		<ul id="ldd_menu" class="ldd_menu">
			<li>
				<span>SEARCH RETAILERS <i class="glyphicon glyphicon-menu-down"></i></span>
				<div class="ldd_submenu">
					<ul id="limheight">
						<$ retailers.forEach(function(retailer) { $>
							<div class="row">
								<div class="col-md-4">
									<li class="retailers">
										<$ if (user.retailers.indexOf(retailer.id) > -1) { $>
											<input type="checkbox" class="cbox1" value="first_checkbox" checked>
												<label data-id="<$= retailer.id $>">
													<$=retailer.name $>
												</label>
											</input>
										<$ } else { $>
											<input type="checkbox" class="cbox1" value="first_checkbox">
												<label data-id="<$= retailer.id $>">
													<$=retailer.name $>
												</label>
											</input>
										<$ } $>
									</li>
								</div>
							</div>
						<$ }); $>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>

<!--
|||||||||||||||||||||||||||||||||||||||||
PRODUCT BRICKS
|||||||||||||||||||||||||||||||||||||||||
-->

<div class="row">
	<div class="col-md-12">

		<script type="text/template" id="product-template">
		<div class="<%= customCategory %>">
			<div class="thumbnail">
				<div class="caption">
					<div class="image-wrapper">
						<img class="activator" src="<%= image.sizes.Best.url %>" width="280" height="350">
					</div>
					<div class="info-wrapper">
						<h6 class ="unbrandedName"><%= name %></h6>
						<p class="retailer">Retailer: <%= retailer.name %></p>
						<p class="price">Price: <%= priceLabel %></p>
					</div>

					<div class="buttons">
						<p>
							<a href="#" class="btn btn-primary add-to-closet" data-id="<%= id %>"role="button">Add To Closet</a>
							<a href="<%= clickUrl %>" class="btn btn-default " role="button">Buy Now</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		</script>

		<div class='uil-ring-css hide' style='transform:scale(0.59);'>
			<div></div>
		</div>
	</div>
</div>

<div class="product-item">

</div>
