<!-- PROFILE PAGE -->

<!--
|||||||||||||||||||||||||||||||||||||||||
HEADER
|||||||||||||||||||||||||||||||||||||||||
-->

<header>
  <$ include ../views/partials/nav.ejs $>
</header>

<!--
|||||||||||||||||||||||||||||||||||||||||
MAIN PRODUCTS GRID
|||||||||||||||||||||||||||||||||||||||||
-->
<!-- <div class="view">
  <section class="grid">
    <% products.forEach(function(products){%>
      <div id="images">
        <div id="dog">
          <div class="catA">
            <div class="grid__item shirts">
              <div class="slider">
                <div class="slider__item">
                  <img src="<%= products.image.sizes.XLarge.url %>" alt="image">
                </div>
              </div>
              <div class="meta">
                <h3 class="meta__title">Miriam Classic</h3>
                <span class="meta__brand">Miriam</span>
                <span class="meta__price">$79</span>
              </div>
              <button class="action action--button action--buy">
                <i class="fa fa-shopping-cart"></i>
                <span class="text-hidden">Add to cart</span>
              </button>
            </div>
          </div>

          <div class="catB">
            <div class="grid__item shirts">
              <div class="slider">
                <div class="slider__item">
                  <img src="<%= products.image.sizes.XLarge.url %>" alt="image">
                </div>
              </div>
              <div class="meta">
                <h3 class="meta__title">Miriam Classic</h3>
                <span class="meta__brand">Miriam</span>
                <span class="meta__price">$79</span>
              </div>
              <button class="action action--button action--buy">
                <i class="fa fa-shopping-cart"></i>
                <span class="text-hidden">Add to cart</span>
              </button>
            </div>
          </div>

          <div class="catC">
            <div class="grid__item shoes">
              <div class="slider">
                <div class="slider__item">
                  <img src="<%= products.image.sizes.XLarge.url %>" alt="image">
                </div>
              </div>
              <div class="meta">
                <h3 class="meta__title">Miriam Classic</h3>
                <span class="meta__brand">Miriam</span>
                <span class="meta__price">$79</span>
              </div>
              <button class="action action--button action--buy">
                <i class="fa fa-shopping-cart"></i>
                <span class="text-hidden">Add to cart</span>
              </button>
            </div>
          </div>

          <div class="catD">
            <div class="grid__item dresses">
              <div class="slider">
                <div class="slider__item">
                  <img src="<%= products.image.sizes.XLarge.url %>" alt="image">
                </div>
              </div>
              <div class="meta">
                <h3 class="meta__title">Miriam Classic</h3>
                <span class="meta__brand">Miriam</span>
                <span class="meta__price">$79</span>
              </div>
              <button class="action action--button action--buy">
                <i class="fa fa-shopping-cart"></i>
                <span class="text-hidden">Add to cart</span>
              </button>
            </div>
          </div>

          <div class="catE">
            <div class="grid__item shoes">
              <div class="slider">
                <div class="slider__item">
                  <img src="<%= products.image.sizes.XLarge.url %>" alt="image">
                </div>
              </div>
              <div class="meta">
                <h3 class="meta__title">Miriam Classic</h3>
                <span class="meta__brand">Miriam</span>
                <span class="meta__price">$79</span>
              </div>
              <button class="action action--button action--buy">
                <i class="fa fa-shopping-cart"></i>
                <span class="text-hidden">Add to cart</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </section>
</div> -->

<div class="row">
	<div class="col-md-12">

		<script type="text/template" id="profile-template">
    <div class="<%= customCategory %>">
      <div class="thumbnail">
				<div class="caption">
					<div class="image-wrapper">
						<img class="activator" src="<%= image.sizes.Best.url %>" width="280" height="350">
					</div>
					<div class="info-wrapper">
						<h6 class ="unbrandedName"><%= name %></h6>
						<p class="retailer">Retailer: <%= retailer.name %></p>
						<p class="price">Price: <%= priceLabel %></p>
					</div>

					<div class="buttons">
						<p class="center_me">
							<a href="#" class="btn btn-primary remove-from-closet" data-id="<%= id %>"role="button" role="button">Remove</a>
							<a href="<%= clickUrl %>" class="btn btn-default" role="button">Buy Now</a>
						</p>
					</div>
				</div>
			</div>
    </div>
		</script>

    <div class='uil-ring-css hide' style='transform:scale(0.59);'>
			<div></div>
		</div>

	</div>
</div>

<div class="product-item">

</div>



    <!--
|||||||||||||||||||||||||||||||||||||||||
FILTER FOOTER
|||||||||||||||||||||||||||||||||||||||||
-->
<div class="container">
  <div class="bar">

    <div class="filter">
      <span class="filter__label">Filter: </span>
      <button class="allbutton">
        <span class="action__text">All</span>
      </button>

      <button class="topbutton">
        <span class="action__text">Tops</span>
      </button>
      <button class="bottombutton">
        <span class="action__text">Bottoms</span>
      </button>
      <button class="shoesbutton">
        <span class="action__text">Shoes</span>
      </button>
      <button class="accessoriesbutton">
        <span class="action__text">Accessories</span>
      </button>
      <button class="miscbutton">
        <span class="action__text">Misc</span>
      </button>
    </div>

    <button class="cart">
      <i class="cart__icon fa fa-shopping-cart"></i>
      <span class="text-hidden">Shopping cart</span>
      <span class="cart__count">0</span>
    </button>
  </div>
</div>
