<!-- PROFILE PAGE -->
<!--
|||||||||||||||||||||||||||||||||||||||||
HEADER
|||||||||||||||||||||||||||||||||||||||||
-->

<header>
  <$ include ../views/partials/nav.ejs $>
</header>

<!--
|||||||||||||||||||||||||||||||||||||||||
FILTER BAR
|||||||||||||||||||||||||||||||||||||||||
-->
<div class="filter_background">
  <div class="filter_container">
    <div class="filter_label_container">
      <span class="filter_label">Filter: </span>
    </div>
    <div class="filter_button_container">
      <div class="allbutton btn-filter">
        <span class="filter_text">All</span>
      </div>
      <div class="topbutton btn-filter">
        <span class="filter_text">Tops</span>
      </div>
      <div class="bottombutton btn-filter">
        <span class="filter_text">Bottoms</span>
      </div>
      <div class="shoesbutton btn-filter">
        <span class="filter_text">Shoes</span>
      </div>
      <div class="accessoriesbutton btn-filter">
        <span class="filter_text">Accessories</span>
      </div>
      <div class="miscbutton btn-filter">
        <span class="filter_text">Misc</span>
      </div>
    </div>
  </div>
</div>

<!--
|||||||||||||||||||||||||||||||||||||||||
MAIN PRODUCTS GRID
|||||||||||||||||||||||||||||||||||||||||
-->

<div class="row">
	<div class="col-md-12">

		<script type="text/template" id="profile-template">
    <div class="<%= customCategory %>">
      <div class="thumbnail">
				<div class="caption">
					<div class="image-wrapper">
						<img class="activator" src="<%= image.sizes.Best.url %>" width="280" height="350">
					</div>
					<div class="info-wrapper">
						<h6 class ="unbrandedName"><%= unbrandedName %></h6>
						<p class="retailer">Retailer: <%= retailer.name %></p>
						<p class="price">Price: <%= priceLabel %></p>
					</div>

					<div class="product_btn_container">
						<p>
							<div class="btn product_btn_remove remove-from-closet" data-id="<%= id %>">Remove</div>
							<a href="<%= clickUrl %>" class="btn product_btn_buy" target="_blank">Buy Now</a>
						</p>
					</div>
				</div>
			</div>
    </div>
		</script>

    <div class='uil-ring-css' style='transform:scale(0.59);'>
			<div></div>
		</div>

    <div id="corbot" class='hide'>
			<img src="http://cdn.smosh.com/sites/default/files/bloguploads/pokemon-gif-brock-hump.gif" />
		</div>

	</div>
</div>

<div class="product-item">

</div>

<!--
|||||||||||||||||||||||||||||||||||||||||
FOOTER
|||||||||||||||||||||||||||||||||||||||||
-->
<$ include ../views/partials/footer.ejs $>
