<!-- PRODUCTS PAGE -->

<!--
|||||||||||||||||||||||||||||||||||||||||
HEADER
|||||||||||||||||||||||||||||||||||||||||
-->

<% include ../views/partials/nav.ejs %>

<header>


		<div class="box">
			<ul id="ldd_menu" class="ldd_menu">
				<li>
					<span>Search Retailers</span>
					<div class="ldd_submenu">

						<ul id = "limheight">
                <% products.forEach(function(products){%>
                <div class="row">
                <div class="col-md-4">
                <li class="retailers>">
                  <label><input type="checkbox" onclick="OnChangeCheckbox(this)" id="cbox1" value="first_checkbox">
                  <a href="#"><%= products.image.sizes.XLarge.url %></a>
                </label>
              </li>

              </div>
            </div>
        <% }) %>
						</ul>
						<a class="ldd_subfoot" href="#"> + New Deals</a>
					</div>
				</li>

			</ul>
		</div>
</header>

<div class="row">
<% products.forEach(function(products){%>
    <div class="col-md-10">
        <div class="view">
            <section class="grid">
                <div id="images">
                    <div class="grid__item shirts">
                        <div class="slider">
                            <div class="slider__item">
                                <!-- APPEND OBJECT HERE -->
                                <img src="<%= products.image.sizes.XLarge.url %>" alt="image">
                            </div>
                        </div>
                        <div class="meta">
                            <h3 class="meta__title">Miriam Classic</h3>
                            <span class="meta__brand">Miriam</span>
                            <span class="meta__price">$79</span>
                        </div>
                        <button class="action action--button action--buy">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="text-hidden">Add to cart</span>
                        </button>
                    </div>

                    <div id="images">
                        <div class="grid__item shirts">
                            <div class="slider">
                                <div class="slider__item">
                                    <!-- APPEND OBJECT HERE -->
                                    <img src="<%= products.image.sizes.XLarge.url %>" alt="image">
                                </div>
                            </div>
                            <div class="meta">
                                <h3 class="meta__title">Miriam Classic</h3>
                                <span class="meta__brand">Miriam</span>
                                <span class="meta__price">$79</span>
                            </div>
                            <button class="action action--button action--buy">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="text-hidden">Add to cart</span>
                            </button>
                        </div>

                        <div id="images">
                            <div class="grid__item shirts">
                                <div class="slider">
                                    <div class="slider__item">
                                        <!-- APPEND OBJECT HERE -->
                                        <img src="<%= products.image.sizes.XLarge.url %>" alt="image">
                                    </div>
                                </div>
                                <div class="meta">
                                    <h3 class="meta__title">Miriam Classic</h3>
                                    <span class="meta__brand">Miriam</span>
                                    <span class="meta__price">$79</span>
                                </div>
                                <button class="action action--button action--buy">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="text-hidden">Add to cart</span>
                                </button>
                            </div>

                            <div id="images">
                                <div class="grid__item shirts">
                                    <div class="slider">
                                        <div class="slider__item">
                                            <!-- APPEND OBJECT HERE -->
                                            <img src="<%= products.image.sizes.XLarge.url %>" alt="image">
                                        </div>
                                    </div>
                                    <div class="meta">
                                        <h3 class="meta__title">Miriam Classic</h3>
                                        <span class="meta__brand">Miriam</span>
                                        <span class="meta__price">$79</span>
                                    </div>
                                    <button class="action action--button action--buy">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="text-hidden">Add to cart</span>
                                    </button>
                                </div>

                                <div id="images">
                                    <div class="grid__item shirts">
                                        <div class="slider">
                                            <div class="slider__item">
                                                <!-- APPEND OBJECT HERE -->
                                                <img src="<%= products.image.sizes.XLarge.url %>" alt="image">
                                            </div>
                                        </div>
                                        <div class="meta">
                                            <h3 class="meta__title">Miriam Classic</h3>
                                            <span class="meta__brand">Miriam</span>
                                            <span class="meta__price">$79</span>
                                        </div>
                                        <button class="action action--button action--buy">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span class="text-hidden">Add to cart</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

            </section>
            </div>
            </div>
        </div>
    </div>
<% }) %>
<div class="col-md-2">

</div>

</div>
